.light {
    --background-color: #ffffff;
    --text-color: #333333;
    /* Add other light theme variables */
}

body.light {
    background-color: var(--background-color);
    color: var(--text-color);
}

.light section {
    background-color: var(--section-bg);
}

#navbar button i {
    color: rgb(14, 4, 4);
    width:  20px;
    height: 20px;

}

.sticky-header {
  transition: background-color 0.3s ease;
}

.sticky-header.scrolled {
  background-color: black;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.dark-mode .sticky-header.scrolled {
  background-color: white;
}
