#scroll-to-top {
  position: fixed; 
  bottom: 20px; 
  right: 20px; 
  background-color: #fff; /* Background color */
  border: none; /* No border */
  border-radius: 50%; /* Round shape */
  padding: 10px; /* Some padding */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Shadow for depth */
  cursor: pointer; /* Pointer cursor on hover */
  display: none; /* Initially hidden */
}

#scroll-to-top.show {
  display: block; /* Show when needed */
}
  #scroll-to-top:hover {
    opacity: 1; /* Fully visible on hover */
  }
  
  #scroll-icon {
    font-size: 24px; /* Icon size */
  }
  