.nav-links {
  display: flex;
  align-items: center;
  gap: 2rem;
}

@media screen and (max-width: 768px) {
  .nav-links {
    display: flex;
    position: relative;
  }
}

.top-bar {
  position: fixed; /* Make it fixed to the top */
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 20px; /* Adjust padding as needed */
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background-color 0.3s ease; /* Smooth transition */
  z-index: 1000; /* Ensure it's on top of other content */
}

.top-bar.scrolled {
  background-color: rgba(0, 0, 0, 0.7); /* Black transparent background */
  color: white; /* Change text color if needed */
}

.header-content {
  margin-top: 100px; /* Adjust to prevent overlap with fixed top bar */
}



